:root{
  --my-cyan: hsl(188, 78%, 41%);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.my-size-img{
width: 100vw;
height: 50vw;
}

.my-bg-black{
  background-color: #000;
}

.my-bg-nav, .my-bg-cyan{
background-color: var(--my-cyan);
}



